// Index

@media (min-width: 1024px) and (max-width: 1920px) {
    #container-index {
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }


    .col-md-6 {
        width: 100%;
        padding: 0;
    }


    .row > .col-12 {
        width: 100%;
        padding: 0;
    }

    .imagen-grande,
    .imagen-media,
    .imagen-chica {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        margin-left: 250px;
    }

    .row {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .tituloIndex {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
}

// Nosotros
@media (min-width: 1024px) and (max-width: 1920px) {

    .titulo-principal-nosotros {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 30px;
    }

    .section-nosotros {
        padding: 20px;
    }

    .titulos-nosotros-imagenes {
        font-size: 2rem;
        margin-bottom: 10px;
        margin-left: 220px;
        width: 100%;

    }

    .texto-nosotros-div {
        font-size: 1.1rem;
        line-height: 1.5;
        margin-left: 240px;
        // background-color: red;
        width: 100%;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-left: 230px;
    
    }

    .mapa-titulo-nosotros {
        font-size: 1.8rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    iframe {
        width: 100%;
        height: 450px;
        border: 0;
    }


    .row.mb-4:last-child {
        display: flex;
        flex-direction: column;
    }

    .row.mb-4:last-child .col-md-6:first-child {
        order: 2;
    }

    .row.mb-4:last-child .col-md-6:last-child {
        order: 1;
    }
}



// Servicios

@media (min-width: 1024px) and (max-width: 1920px) {
    .servicio-card {
        width: calc(50% - 20px); /* Ajustar el tamaño según sea necesario */
        margin: 10px; 
        display: inline-block;
    }
    .servicios-container {
        text-align: center;
    }

    footer {
        margin-top: 130px;
    }
}