// Animaciones para títulos
.tituloIndex {
    text-align: center;
    font-size: $font-size-large;
    margin: 20px 0;
    opacity: 0;
    animation: bounceIn 1s forwards;
}

/* Animación de rebote */
@keyframes bounceIn {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


// Animacion imagenes index

/* Efecto hover para la imagen grande */
.imagen-grande {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen-grande:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Efecto hover para la imagen media */
.imagen-media {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen-media:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Efecto hover para la imagen chica */
.imagen-chica {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen-chica:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
