.titulo-principal-nosotros {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}

.nosotros-div img {
    max-width: 100%;
    width: 50%;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.nosotros-div-imagen1,
.nosotros-div-imagen2,
.nosotros-div-imagen3 {
    width: 300px;
    height: 500px;
    border-radius: 5px;
}

.nosotros-div-imagen2 {
    margin-left: 80px;
}

.titulos-nosotros-imagenes {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
}

.texto-div-1,
.texto-div-2,
.texto-div-3 {
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 50px;
}

.mapa-titulo-nosotros {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-size: 30px;
}

iframe {
    width: 800px;
    height: 450px;
}
