.titulo-principal-nosotros {
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container-nosotros {
    background-color: hsla(0, 100%, 0%, 0.804);
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nosotros-div img {
    max-width: 100%;
    width: 50%;
}

.titulos-nosotros-imagenes {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.texto-nosotros-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    color:white;
    font-family: 'Courier New', Courier, monospace;
}


.nosotros-div-imagen1,
.nosotros-div-imagen2,
.nosotros-div-imagen3 {
    width: 300px;
    height: 500px;
    border-radius: 5px;
}

.nosotros-div-imagen2 {
    margin-left: 80px;
}

.texto-div-1,
.texto-div-2,
.texto-div-3 {
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 50px;
    color: white;
}

.mapa-titulo-nosotros {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

iframe {
    width: 800px;
    height: 450px;
}

.img-fluid {
    width: 400px;
    height: 450px;
    border-radius: 5px;
}

.mapa-iframe {
    border: 0;
    width: 100%; /* Opcional, puedes ajustar según tu diseño */
    height: 450px; /* Ajusta la altura según tu preferencia */
}
