.btn-primary {
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #6c757dd1;
    }
}

// Boton index

.digital-menu-btn {
    font-size: 1.1rem;
    padding: 12px 25px;
    background-color: #6c757dd1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.digital-menu-btn:hover {
    background-color: #6c757dd1;
}

